{% extends "base.html" %}

{% block content %}

<h1 class="mt-5">Logs</h1>
<div class="row mt-3">
    <div class="col-md-12">
        <table class="table" id="logsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Flow</th>
                    <th>Execution Status</th>
                    <th>Input Data</th>
                    <th>Output Data</th>
                    <th>Error Message</th>
                    <th>Executed At</th>
                </tr>
            </thead>
            <tbody>
                <!-- Logs will be appended here -->
            </tbody>
        </table>
    </div>
</div>


<script type="module">
    import Log from "{{ url_for('static', filename='js/log.js') }}";
    import Flow from "{{ url_for('static', filename='js/flow.js') }}";

    const logManager = new Log(window.location.origin);
    const flowManager = new Flow(window.location.origin);

    document.addEventListener('DOMContentLoaded', () => {
        fetchAndDisplayLogs();
    });

    async function fetchAndDisplayLogs() {
        const logs = await logManager.fetchLogs();
        const flows = await flowManager.fetchFlows();
        const flowsMap = flows.reduce((map, flow) => {
            map[flow.flow_id] = flow;
            return map;
        }, {});

        const logsTableBody = $('#logsTable tbody');
        logsTableBody.empty();
        logs.forEach(log => {
            const flowName = flowsMap[log.flow_id]?.flow_name || 'Unknown';
            logsTableBody.append(`
                <tr>
                    <td>${log.log_id}</td>
                    <td>${flowName}</td>
                    <td>${log.execution_status}</td>
                    <td>
                        <pre id="json-output">${JSON.stringify(log.input_data, null, 2)}</pre>
                    </td>
                    <td>
                        <pre id="json-output">${JSON.stringify(log.output_data, null, 2)}</pre>
                    </td>
                    <td>${log.error_message || ''}</td>
                    <td>${log.executed_at}</td>
                </tr>
            `);
        });
    }
</script>
{% endblock %}
